<div class="column">
  <div class="card">
    <% if star.image.present? %>
      <div class="card-image">
        <figure>
          <%= image_tag star.image %>
        </figure>
      </div>
    <% end %>
    <div>
      <p class="title is-4"><%= star.name %></p>
      <p class="subtitle is-6"><%= star.cost %></p>
    </div>
    <div class="content">
      <%= star.description %>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Add to Cart</a>
      <a href="#" class="card-footer-item">Buy Now</a>
    </footer>
  </div>
</div>