<h1 class="title title is-2">Planets</h1>

<%= paginate @planets %>

<div class="select mb-5">
  <select>
    <option>Show All</option>
    <option>Alphabetized</option>
    <option>Newest</option>
    <option>Price: High to Low</option>
    <option>Price: Low to High</option>
  </select>
</div>

<div class="columns is-multiline is-mobile">
  <%= render partial: 'planet',
             collection: @planets %>
</div>

<%= paginate @planets %>