<h1 class="title title is-2">Price: High to Low</h1>

<%= paginate @planets_hightolow %>

<div class="dropdown is-hoverable mb-5">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Sorting</span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <a href="/planets" class="dropdown-item">
        Show All
      </a>
      <a href="/planets/alphabetized" class="dropdown-item">
        Alphabetized
      </a>
      <a href="/planets/newest" class="dropdown-item">
        Newest
      </a>
      <a href="/planets/hightolow" class="dropdown-item is-active">
        Price: High to Low
      </a>
      <a href="/planets/lowtohigh" class="dropdown-item">
        Price: Low to High
      </a>
    </div>
  </div>
</div>

<div class="columns is-multiline is-mobile">
  <%= render partial: 'planet',
             collection: @planets_hightolow %>
</div>

<%= paginate @planets_hightolow %>