<h1 class="title">Index</h1>

<%= paginate @asteroids %>

<div class="columns is-multiline is-mobile">
  <%= render partial: 'asteroid',
             collection: @asteroids %>
</div>

<%= paginate @asteroids %>